#hero-slider :is(.swiper-button-next, .swiper-button-prev) {
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition: .3s ease-in-out;
    opacity: 0;
}

#hero-slider :is(.swiper-button-next, .swiper-button-prev):hover {
    background-color: rgba(0, 0, 0, .8)
}

#hero-slider:hover :is(.swiper-button-next, .swiper-button-prev) {
    opacity: 1;
}

#hero-slider .swiper-button-prev {
    left: 0;
    margin-left: -60px;
    padding: 40px 20px 40px 70px;
}

#hero-slider .swiper-button-next {
    right: 0;
    margin-right: -60px;
    padding: 40px 70px 40px 20px;
}

#hero-slider :is(.swiper-button-prev, .swiper-button-next)::after {
    font-size: 16px;
}

#hero-slider .swiper-pagination-bullet {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 1;
    width: 10px;
    height: 10px;
}

#hero-slider .swiper-pagination-bullet-active {
    background-color: #4a90e2;
    border-color: #4a90e2;
}